[merge-tools.vimdiff]
diff-invocation-mode = "file-by-file"

[ui]
default-command = "status"
diff-editor = "vimdiff"

[colors]
"diff token" = { underline = false }

[user]
email = "shaver@off.net"
name = "Mike Shaver"

# This is the most ridiculous syntax
[[--scope]]
--when.repositories = ["~/src/fastly", "~/src/fastly-def", "~/src/signalsciences"]
[--scope.user]
email = "mike.shaver@fastly.com"

